.wplfs-search-box {
    --wplfs-fz: 1rem;
    --wplfs-main-color: #000;
    --wplfs-main-color-rgb: 0, 0, 0;
    --wplfs-relult-bg: #fff; 
    --wplfs-popular-tag-bg: #f1f5f9; 
    --wplfs-popular-tag-hover-bg: #e2e8f0; 
    --wplfs-result-item-type-bg: #f0deed; 
    --wplfs-padding-block: 1.25em;
    --wplfs-padding-inline: 1.25em;
    --wplfs-input-border-radius: 3.75em;
    --wplfs-result-border-radius: .625em;
    --wplfs-clear-btn-color: #fff;

    position: relative;
    font-family: inherit;
    font-size: var(--wplfs-fz);
    color: var(--wplfs-main-color);
}

#wplfs-input {
    width: 100%;
    padding-block: 0.75em;
    padding-inline: var(--wplfs-padding-inline) 5.375em;
    border: max(.0625em, 1px) solid rgba( var(--wplfs-main-color-rgb), 1 );
    border-radius: var(--wplfs-input-border-radius);
    font-size: 1em;
}

.wplfs-input-actions {
    position: absolute;
    right: var(--wplfs-padding-inline);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 0.125em;
    z-index: 2;
}

.wplfs-clear-btn,
.wplfs-search-btn {
    width: 1.75em;
    height: 1.75em;
    border: 0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.wplfs-clear-btn {
    color: var(--wplfs-clear-btn-color);
}
.wplfs-search-btn {
    color: var(--wplfs-main-color);
}

.wplfs-clear-btn span,
.wplfs-search-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.375em;
    height: 1.375em;
    border-radius: 50%;
}
.wplfs-clear-btn span {
    background: var(--wplfs-main-color);
}
.wplfs-clear-btn span svg {
    width: .5625em;
    height: auto; 
}
.wplfs-search-btn span svg {
    width: 1.125em;
    height: auto;
}

.wplfs-clear-btn[hidden] {
    display: none !important;
}

#wplfs-input:focus {
    outline: none;
}

#wplfs-results {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background: var(--wplfs-relult-bg);
    border-radius: var(--wplfs-result-border-radius);
    box-shadow: 0 0.625em 1.25em rgba( var(--wplfs-main-color-rgb), .15 );
    z-index: 99;
    display: none;
}

.wplfs-search-box.is-open #wplfs-results {
    display: block;
}

#wplfs-results.fadeIn {
    display: block;
    opacity: 0;
    pointer-events: none;
    transform: translateY(1rem);
    transition: all 0.24s ease;
}
.wplfs-search-box.is-open #wplfs-results.fadeIn {
    pointer-events: unset;
    transform: translateY(0);
    opacity: 1;
}

.wplfs-popular-box {
    padding: var(--wplfs-padding-block) var(--wplfs-padding-inline);
}

.wplfs-popular-title {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1;
    color: rgba( var(--wplfs-main-color-rgb), .8 );
    margin-bottom: 0.625em;
}

.wplfs-popular-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.wplfs-popular-tag {
    border: 0;
    background: var(--wplfs-popular-tag-bg);
    color: rgba( var(--wplfs-main-color-rgb), .8 );
    padding: 0.5em 0.75em;
    border-radius: 6.25rem;
    cursor: pointer;
    font-size: 0.875em;
    line-height: 1;
}

.wplfs-popular-tag:hover {
    background: var(--wplfs-popular-tag-hover-bg);
}

.wplfs-no-query,
.wplfs-no-results,
.wplfs-loading,
.wplfs-error {
    text-align: center;
    color: rgba( var(--wplfs-main-color-rgb), .8 );
    font-size: 1.125em;
    font-weight: 600;
    padding: var(--wplfs-padding-block) var(--wplfs-padding-inline);
}

.wplfs-results-container {
    padding: var(--wplfs-padding-block) var(--wplfs-padding-inline);
}

.wplfs-results-list {
    display: grid;
    gap: 1em;
    max-height: 26.25em;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: rgba( var(--wplfs-main-color-rgb), .5 ) transparent;
}

.wplfs-result-item {
    display: flex;
    gap: 0.75em;
    text-decoration: none;
    font-size: 1.125em;
    color: inherit;
    line-height: 1.2;
}

.wplfs-more-btn {
    display: block;
    padding: 0.5625em 1.25em;
    text-align: center;
    font-size: .875em;
    font-weight: 600;
    line-height: 1;
    color: var(--wplfs-main-color);
    text-decoration: none;
    border: max(.0625em, 1px) solid color-mix(in srgb, currentColor 30%, transparent);
    margin-top: 1em;
}

.wplfs-result-content {
    display: flex;
    gap: 0.625em;
}

.wplfs-result-content-img {
    aspect-ratio: 1;
}

.wplfs-result-content-img img {
    width: 5em;
    height: 5em;
    object-fit: cover;
}

.wplfs-result-content-title {
    font-weight: 600;
}

.wplfs-result-title {
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.wplfs-result-type {
    display: inline-block;
    font-size: 57%;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.25em 0.5em;
    border-radius: 0.375em;
    background: var(--wplfs-result-item-type-bg);
}